.main-div mat-card {
  padding: 0px;
}
.card-title {
  height: 20px !important;
}
mat-toolbar {
  font-size: 16px !important;
  height: 40px;
}

.registration-form {
  padding: 20px;
}

.title-center {
  text-align: center;
}

.mat-form-field {
  margin-left: 8px;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.mat-form-field {
  width: 80%;
}

.main-div mat-card {
  border-radius: 10px;
}

.card-header {
  background-color: white;
  font-weight: bold;
  padding: 0.75rem 0;
  border-bottom: none;
}

.card-header h3 {
  margin-bottom: 0;
  font-weight: bold;
}

.card {
  border: none;
  box-shadow: 0px 1px 7px 1px #bababa;
}

.main-div {
  height: 100vh !important;
}

.action-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.action-wrapper .actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

mat-radio-group {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.radio-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
