.main-div mat-card{
    padding:0px;
    margin-top: 2%;
    }   
    
    .loan-form{
        padding:20px;
    }

    .title-center {      
        text-align: center;
      }

      .mat-form-field {
        margin-left: 8px;
      }
      .card-title{
        height:20px!important;   
      }
      mat-toolbar{
        font-size:16px!important;
        height:40px;
    }
      
input.ng-invalid.ng-touched
{
    border-color: red;
}

.mat-form-field{
  width:180px; 
}
