<div fxLayoutAlign="center center" fxFlexFill class="main-div">

  <mat-card fxFlex=30>
    <div class="ttlcenter">
      <h1 class="title-center" style="padding: 20px;">Login</h1>
    </div>
    <form (ngSubmit)="onLogin()" name="loginform" [formGroup]="loginform" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="UserName">
        <mat-hint *ngIf="loginform.controls.username.errors && (loginform.controls.username.touched ||loginform.controls.username.dirty  )">
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-hint *ngIf="loginform.controls.password.errors && (loginform.controls.password.touched ||loginform.controls.password.dirty  )">
        </mat-hint>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" class="login-btn" [disabled]="!loginform.valid ||  isSubmitting">Login</button>

      <br>
      <label class="login-footer">Not having Account ? <a routerLink="/registration"> Register</a></label>


    </form>

  </mat-card>
</div>
